* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
}
.row:before,
.row:after {
  content: "";
  display: table;
  clear: both;
}
[class*="col-"] {
  float: left;
  min-height: 1px;
  padding: 10px;
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
/*HEADER*/
header {
  background-color: #313234;
  height: 50px;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  clear: both;
}
header > nav > ul {
  margin: 0;
  padding: 0;
  float: right;
}
header > nav > ul > li > a > span {
  color: #00C4E1;
}
header > nav > ul > li {
  list-style-type: none;
  display: inline-block;
}
header > nav > ul > li > a {
  line-height: 50px;
  padding: 0 20px;
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  color: #fff;
}
header > nav > ul > li:hover {
  background-color: #7d8085;
  transition: .3s;
}
header > nav > img {
  padding: 10px 0;
}
/*HERO*/
.hero {
  background-image: url(https://images.unsplash.com/photo-1460186136353-977e9d6085a1?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=dca4873f59aed93f7e03d929bab13695);
  height: 450px;
  width: 100%;
  background-size: cover;
  background-position: center;
  padding-top: 170px;
}
.slogan {
  background-color: rgba(0, 0, 0, 0.4);
  float: right;  
  max-width: 800px;
  padding: 0 300px 0 50px;
}
h1 {
  text-transform: uppercase;
  color: #fff;
  font-weight: bolder;
  letter-spacing: 0.2em;
  line-height: 
}
.hero > .slogan > h1 > span {
  font-weight: lighter;
} 
/*BENEFITS SECTION*/
.benefits  {
  text-align: center;
}
h2, h3, h4 {
  text-transform: uppercase;
  color: #313332;
  font-weight: bold;
}
.benefits h3 span {
  color: #00C4E1;
}
.benefits i {
  background-color: #313332;
  padding: 20px;
  border-radius: 20%;
  color: #fff;
}
.benefits .fa-laptop {
  background-color: #00C4E1;
}
.benefits > .row > .col-4,
.featured-works > .row > .col-12,
.team > .row > .col-3,
.numbers > .row > .col-3 {
  text-align: center;
  color: #909090;
  margin: 50px auto;
}
/*GALLERY*/
.single-picture {
  position: relative;
  overflow: hidden;
  padding: 0;
  background-size: cover;
  height: 300px;
}
.gallery-layer {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition: 1s;
}
.single-picture:hover .gallery-layer{
  background: rgba(0, 0, 0, 0.39);
  transition: 1s;
}
.single-picture:hover i {
  display: inline-block;
  height: 50px;
  width: 50px;
  position: relative;
  top: 35%;
  left: 35%;
  right: 35%;
  color: #fff;
  border: 1px solid #fff;
  text-align: center;
  line-height: 50px;
  margin: 15px;
  transition: 1s;
}
.gallery-layer i {
  display: none;
}
.gallery-layer i:hover {
    color: #00C4E1;
    border-color: #00C4E1;
    transition: 1s;
}
/*GALLERY BACKGROUND PICTURES*/
.first-picture {
    background-image: url(https://static.pexels.com/photos/34676/pexels-photo.jpg);
}
.second-picture {
  background-image: url(https://static.pexels.com/photos/7096/people-woman-coffee-meeting.jpg);
}
.third-picture {
  background-image: url(https://static.pexels.com/photos/4831/hands-coffee-smartphone-technology.jpg);
}
.fourth-picture {
  background-image: url(https://static.pexels.com/photos/47425/pexels-photo-47425.jpeg);
}
.fifth-picture {
  background-image: url(https://static.pexels.com/photos/7369/startup-photos.jpg);
}
.sixth-picture {
  background-image: url(https://static.pexels.com/photos/27406/pexels-photo-27406.jpg);
}
.seventh-picture {
  background-image: url(https://static.pexels.com/photos/527/man-person-people-train.jpg);
}
.eighth-picture {
  background-image: url(https://static.pexels.com/photos/34676/pexels-photo.jpg);
}
/*TEAM*/
.team-member {
  position: relative;
}
.team-member img {
  border-radius: 50%;
  height: 250px;
  width: 250px;
  object-fit: cover;
}
.team-member h3 {
  text-transform: none;
}
.team-member h4 {
  display: none;
}
.position-layer {
  position: absolute;
  width: 250px;
  height: 250px;
  overflow: hidden;
  transition: 1s;
  border-radius: 50%;
  left: 0;
  right: 0;
  margin: auto;
}
.team-member:hover .position-layer {
  background: rgba(0, 0, 0, 0.39);
  transition: 0.5s;
}
.team-member:hover .position-layer > h4 {
  color: #00C4E1;
  text-align: center;
  margin-top: 75%;
  transition: 0.5s;
  display: block;
  letter-spacing: 6.5px;
  font-weight: bold;
}
/*IMAGE SECTION WITH TEXTS*/
.image-section {
  background-color: #676767;
}
.image-section > .row > .col-4 > img {
  float: right;
  padding-right: 20px;
  padding-top: 30px;
  height: 430px;
  width: 350px;
  object-fit: cover;
}
.image-section h2, 
.image-section p {
  color: #fff;
}
.image-section > .row > .col-8 > .row > .col-5 {
  padding-right: 20px;
}
.image-section > .row > .col-8 > .row > .col-3 > p {
  font-style: italic;
}
/*COMPANY IN NUMBERS*/
.numbers > .row > .col-3 > h2 {
  font-weight: bold;
  font-size: 80px;
  color: #313332;
  margin-bottom: 0;
}
.numbers > .row > .col-3 > h3 {
  color: #00C4E1;
  font-weight: bold;
}
/*FOOTER*/
.main-footer {
  background-color: #313332;
  height: 400px;
  color: #fff;
}
.main-footer h3 {
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
}
.main-footer .col-3  p {
  margin: 0;
  font-weight: bold;
}
.main-footer .col-12 p,
.main-footer .col-9 p {
  margin: 0;
}
.main-footer i {
  background-color: #00C4E1;
  height: 50px;
  width: 50px;
  text-align: center;
  line-height: 50px;
}
.main-footer i:hover {
  background-color: #fff;
  color: #00C4E1;
  cursor: pointer;
  transition: .3s;
}
.copyrights {
  background-color: #252726;
  height: 100px;
  color: #fff;
}
.copyrights > .row > .col-12 {
  text-align: center;
}
